.contactPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 55vh;
}
.contactPage .page_title {
  font-size: 35px;
}

.contactPage .divider {
  height: 3px;
  background-color: black;
  width: 80vw;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contactPage .list-holder {
  padding-left: 33vw;
  padding-right: 30vw;
}
.contactPage .intro {
  font-size: 19px;
  padding-top: 10px;
  color: #606060;
  padding-left: 33vw;
  padding-right: 30vw;
}
.contactPage .list-holder ul li {
  font-size: 19px;
  padding-top: 10px;
  color: #606060;
}
.contactPage .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.contactPage .form input {
  width: 30vw;
  padding: 15px;
  border: 0.5px solid gray;
}
.contactPage .form .textarea {
  min-height: 300px;
}

.contactPage .form button {
  padding: 15px;
  width: 120px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
