.destinationPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
  padding-top: 50vh;
  padding-left: 30vw;
  padding-right: 30vw;
}

.destinationPage .divider {
  height: 3px;
  background-color: black;
  width: 30vw;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0vw;
}
.destinationPage .list-class ul li {
  padding: 10px;
  font-size: 18px;
}
.destinationPage .list-class ul li a {
  text-decoration: none;
  color: #fa6e59;
  font-weight: 500;
}
.destinationPage .list-class ul li a:hover {
  cursor: pointer;
}
