.homepage_blog_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

.homepage_blog_item .homepage_blog_item_child .child_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.homepage_blog_item .homepage_blog_item_child .child_1 img {
  width: 550px;
  height: 250px;
}
.homepage_blog_item .homepage_blog_item_child .child_1 h1 {
  height: 0px;
}
.homepage_blog_item .homepage_blog_item_child .child_1 .monthly_summary {
 
  background-color: #fa6e59 !important;
  font-size: 17px;
  color:white;
  padding: 3px;
  width: 10vw;
}
.homepage_blog_item .homepage_blog_item_child .child_1 .title {
 
    font-size: 20px;
    padding: 3px;
    width:20vw;
    margin:0px;
    font-weight: 300;
  }
  .homepage_blog_item .homepage_blog_item_child .child_1 .title a {
    text-decoration: none;
  }
  .homepage_blog_item .homepage_blog_item_child .child_1 .title a:hover {
    cursor: pointer;
  }
  .homepage_blog_item .homepage_blog_item_child .child_1 .author_date{
    font-size: 14px;
    margin:0px;
  }

  .homepage_blog_item .homepage_blog_item_child .child_1 .text {
 
    font-size: 20px;
    padding: 3px;
    width:20vw;
    margin:0px;
    font-weight: 300;
  }
