.NavBar {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 0 0 20px;
  height: 35px;
  line-height: 35px;
  background-color: #033f57;
}

.NavBar-nav2 {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 0 0 20px;
  height: 60px;
  line-height: 60px;
  background-color: #fa6e59;
}

.NavBar-link {
  margin: 0 10px;
  color: white;
}

.NavBar-welcome {
  color: grey;
}

.NavBar-banner {
  height: 400px;
  width: 100%;
  display: block;
  justify-content: center;
  background-image: url(./../../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page_name {
  color: white;
  position: absolute;
  left: 20vw;
  top: 18vh;

  font-size: 160px;
}


